body {
    margin: 0;
    padding: 0;
    background-image: url(../images/papyrus.png);
}


/* Header*/

#topBar {
    background: #ffffff;
    border-bottom: #cccccc;
    border-bottom-style: solid;
    border-width: 2px;
    overflow: auto;
}

.hero {
    width: 100%;
    height: auto;
}

header {
    background: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
    font-size: xx-large;
    float: left;
    text-align: center;
    height: 65px;
    padding-top: 25px;
}

nav {
    float: right;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-top: 25px;
    margin-bottom: 25px;
}

nav a {
    color: #777777;
    text-decoration: none;
    margin-left: 15px;
    display: inline;
    border-left: 1px solid #efefef;
    padding-left: 15px;
    line-height: 18px;
}

/* removes left border from About me link */

nav a:first-child {
    border-left: 0 none;
}

/* About Me */

.main {
    margin: 15px auto;
    clear: both;
}

section {
    background: #ffffff;
    padding: 0 30px 10px 30px;
    margin: 0 0 40px 0;
    border: 1px solid #cccccc;
    overflow: auto;

}

h1 {
    font-family:'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    border-bottom: 3px solid #dddddd;
    padding-bottom: 10px;
    font-size: 30px;
}

.image {
    float: left;
    width: 140px;
    height: 195px;
    margin-right: 15px;

}

.imageportfolio {
    width: 300px;
    height: 200px;

}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

footer {
    clear: both;
    text-align: center;
    height: 30px;
    background: #666666;
    border-top-style: solid;
    border-top-width: 7px;
    border-top-color: #4aaaa5;
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 20px;
}

/* Contact */

form {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    width: 100%;
}

.label {
    margin-bottom: 5px;
}

input[type=text] {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    height: 35px;
    border: 1px solid #ddd;
    padding: 0 5px;
}

textarea {
    display: block;
    width: 100%;
    height: 200px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    padding: 0 5px;
}

input[type=button] {
    background: #4aaaa5;
    color: white;
    border: none;
    padding: 15px;
    width: 100px;
    cursor: pointer;
    font-size: 18px;
}

/* Portfolio */

.projects {
    position: relative;
    width: 300px;
    overflow: auto;
    margin: 20px 0 25px;
    float: left;
}

.projects:nth-child(even) {
    margin-right: 40px;
}

h3 {
    position: absolute;
    bottom: 30px;
    background: #4aaaa5;
    color: white;
    text-align: center;
    width: 100%;
    height: 35px;
    opacity: .9;
    margin: auto;
    padding: 15px 0 0 0;
}


/* Media Queries */

@media screen and (max-width:640px) {

    header {
        width: 100%;
    }

    nav {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .main {
        max-width: 100%;
        height: auto;
    }

    footer {
        position:relative;
    } 
}

@media screen and (min-width:640px) {
    
    .hero {
        width: 90%;
    }

    header {
        margin-left: 39px;
        padding-left: 10px;
        padding-right: 10px;
    }

    nav {
        margin-top: 35px;
    }

    .main {
        max-width: 90%;
        height: auto;
    }

}

@media screen and (min-width:768px) {

    .hero {
        width: 90%;
    }

    header {
        margin-left: 39px;
        padding-left: 10px;
        padding-right: 10px;
    }

    nav {
        margin-top: 35px;
    }

    .main {
        max-width: 90%;
        height: auto;
    }
 
}

@media screen and (min-width:980px) {

    .hero {
        width: 960px;
        margin-left: 237px;
    }
    
    .main {
        width: 960px;
    }
    
}